body {
    font-family: 'Roboto', sans-serif;
    background: #EEE;
}
header {
    background: white;
    margin-bottom: 1em;
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.1);
    -o-box-shadow: 0 2px 1px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.1);
    box-shadow: 0 2px 1px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.1);
}
header figure {
    width: 50%;
    max-width: 120px;
    margin: 0 auto;
    -webkit-animation-name: fade_logo; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
}
header figure img {
    width: 100%;
    margin: 1em 0;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fade_logo {
    from {opacity: 0.1;}
    to {opacity: 1;}
}

header h1 {
    text-align: center;
    font-weight: 300;
    font-size: 1.5em;
}

.new-container {
    background-color: #fff;
    box-shadow: 0 2px 1px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin: 0 0 10px 0;
    overflow: hidden;
    min-height: 70px;
}

.new-container:hover{
    opacity: 0.8;
    box-shadow: 0 5px 1px rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.1);
}

.new-image figure {
    height: 50px;
}
.new-image figure img {
    height: 100%;
}
.new-title {
    color: #444;
    font-weight: 500;
}

.footer-text {
    text-align: center;
}

footer {
    background: white;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.1), 0 2px 1px rgba(0,0,0,0.1);
}
