
<!DOCTYPE HTML>
<html lang="es" ng-app="newsApp">
<head>

	<title>Noticias Bátiz</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- SEO -->

    		<meta name="description" content="Noticias Extraidas del sitio oficial del CECyT 9" />
		<link rel="author" href="Dreedi" />

		<!-- Facebook -->
		<meta property="og:title" content="Noticias de Bátiz" />
		<meta property="og:site_name" content="Noticias de Bátiz" />
		<meta property="og:url" content="https://batiz.dreedi.com/" />
		<meta property="og:description" content="Noticias Extraidas del sitio oficial del CECyT 9" />
		<meta property="article:author" content="https://www.facebook.com/dreedi" />
		<meta property="article:publisher" content="hhttps://www.facebook.com/dreedi" />
		<meta property="og:image" content="https://dreedi.com/DREEDI.png" />
		<!-- Facebook -->

		<!-- Twitter -->
		<meta name="twitter:card" content="sumary" />
		<meta name="twitter:site" content="@dreedimx" />
		<!-- Twitter -->

	<!-- SEO -->

    <!-- Tracking -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-52092724-5', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- Tracking -->

	<!-- Static Files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css' />

	<link rel="stylesheet" href="css/main.css" />
	<!-- Static Files -->

	<link rel="shortcut icon" href="img/batiz.png" />

</head>
<body ng-controller="mainController">

    <header class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <figure>
                        <img src="img/batiz.png" alt="Noticias de Bátiz" />
                    </figure>
                    <h1>Bátiz newsfeed.</h1>
                </div>
            </div>
        </div>
    </header>

	<section class="container">
		<div class="row">
			<article class="col-sm-12 col-md-4" ng-repeat="new in news">
				<a href="{{ new.url }}" target="_blank">
					<div class="new-container row">
						<div class="new-image col-sm-3">
							<figure>
								<img src="{{ new.image }}" alt="{{ new.title }}" />
							</figure>
						</div>
						<div class="col-sm-9">
							<p class="new-title">
								{{new.title}}
							</p>
						</div>
					</div>
				</a>
			</div>
		</article>
	</section>

	<footer class="container-fluid">
		<div class="contianer">
			<div class="row">
				<p class="col-sm-12 footer-text">
					Dessarrollado con ❤ por <a href="https://dreedi.com/">Dreedi</a>
				</p>
				<p class="col-sm-12 footer-text">
					Ver <a href="https://github.com/Dreedi/batiz-cecyt9">código fuente.</a>
				</p>
			</div>
		</div>
	</footer>

    <script src="js/main.js"></script>

</body>
</html>
